<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Parallel DataProvider Suite"
       data-provider-thread-count="4">

    <test name="Bank Account DataProvider Tests">

        <classes>
            <class name="tests.BankAccountDataProviderTest"/>
        </classes>

    </test>

</suite>